<div class="row searchbox">
    {{input type="text" class="form-control" placeholder="Search Here..." id="srchfield" value=srchvalu key-up=(action 'handleFilter')}}
    <span><i class="fa fa-search"></i></span>
</div>