<section class="header">
    <img src="/assets/images/logo.png">    
</section>

<section class="container">
{{outlet}}
</section>

<section class="footer">
    <center>Copyright Valuelabs LLP</center>
</section>